@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-md bg-gradient-to-r from-green-800 to-teal-600 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:scale-105 transition-transform duration-200 ease-in-out;
  }

  .btn-secondary {
    @apply text-sm font-semibold leading-6 text-gray-900 hover:text-green-800;
  }
}